<!DOCTYPE html>
<html lang="en" ng-app="madLibsApp" ng-controller="myCtrl">
  <head>
    <meta charset="UTF-8">
    <title>Mad Libs</title>
    <link rel="stylesheet" href="styles/madLibs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="scripts/madLibs.js"></script>
  </head>
  <body>
    <header class="clearfix">
      <div class="header-left">
        <img src="images/mad-lib-happy-face.png" alt="happy">
      </div>
      <div class="header-right">
        <h1>Automate This!</h1>
      </div>
    </header>
    <div>
      <section class="words" ng-hide="validForm">
        <form name="wordsForm" novalidate ng-submit="submit()" class="clearfix">
          <div ng-hide="genders.defined">
            <h2>First, choose a gender:</h2>
            <select 
              ng-model="genders.value" 
              ng-options="gender for gender in genders.values"
              ng-change="genderChange()"
            >
            </select>

          </div>
          <div ng-show="genders.defined">
            <h2>Next, provide the following words:</h2>
            <ul class="clearfix">
              <li>
                <input type="text" required ng-model="user.name" placeholder="name">
              </li>
              <li>
                <input type="text" required ng-model="user.dirtyTask" placeholder="dirty task">
              </li>
              <li>
                <input type="text" required ng-model="user.obnoxiousCelebrity" placeholder="obnoxious celebrity">
              </li>
              <li>
                <input type="text" required ng-model="user.jobTitle" placeholder="job title">
              </li>
              <li>
                <input type="text" required ng-model="user.celebrity" placeholder="celebrity">
              </li>
              <li>
                <input type="number" required ng-model="user.hugeNumber" placeholder="huge number">
              </li>
              <li>
                <input type="text" required ng-model="user.tediousTask" placeholder="tedious task">
              </li>
              <li>
                <input type="text" required ng-model="user.uselessSkill" placeholder="useless skill">
              </li>
              <li>
                <input type="text" required ng-model="user.adjective" placeholder="adjective">
              </li>
            </ul>
            <input type="submit" value="Generate my Mad Lib">
            <div ng-if="wordsForm.$submitted" ng-messages="wordsForm.$error">
              <span class="error" ng-message="required">All fields are required!</span>
              <span class="error" ng-message="number">You must supply only numeric vales!</span>
            </div>
          </div>
        </form>
      </section>
      <section class="result clearfix" ng-show="validForm">
        <p>
          <em>{{user.name}}</em> was a <em>{{user.jobTitle}}</em> who loved technology. Although {{genderize[genders.value].he}} loved parts of {{genderize[genders.value].his}} job, {{genderize[genders.value].he}} absolutely hated <em>{{user.tediousTask}}</em> and <em>{{user.dirtyTask}}</em>. So, <em>{{user.name}}</em> met with {{genderize[genders.value].his}} life mentor <em>{{user.celebrity}}</em> who told {{genderize[genders.value].him}} to learn how to <em>{{user.uselessSkill}}</em> with Thinkful. Thinkful didn't offer a course on <em>{{user.uselessSkill}}</em> so {{genderize[genders.value].he}} studied programming instead.
        </p>
        <p>
          What a great decision! With {{genderize[genders.value].his}} new skills, <em>{{user.name}}</em> built a(n) <em>{{user.adjective}}</em> robot named <em>{{user.obnoxiousCelebrity}}</em> that not only loved <em>{{user.dirtyTask}}</em> but did it <em>{{user.hugeNumber}}</em> times faster.
        </p>
        <button type="button" ng-click="reset()">Start Over</button>
      </section>
    </div>
  </body>
</html>