.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  width: 80%;
  min-width: 37.5rem;
  border: 1px solid #000;
  margin: 2rem auto 0 auto;
}
h1 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 3.5rem;
}
h2 {
  font-weight: normal;
  margin: 1.5rem 0;
}
ul {
  list-style-type: none;
  margin: 1rem 0 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000;
}
ul li {
  float: left;
  width: 33%;
  text-align: center;
}
p {
  margin: 1.5rem 0;
  line-height: 1.5rem;
}
select, input, button {
  padding: 4px;
  margin: .5rem 0;
  font-size: .85rem;
  border: 1px solid #000;
}
input {
  width: 80%;
}
input[type=submit], button {
  width: 20%;
  float: right;
  background-color: #e6e6e6;
}
header {
  border-bottom: 1px solid #000;
}
.header-left, .header-right{
  padding: 1rem 0;
  float: left;
  height: 8rem;
}
.header-left{
  width:24%;
  border-right: 1px solid #000;
  text-align: center;
}
.header-left img {
  height:100%;
}
.header-right {
  background: url('../images/ng-mad-libs-logo.png') no-repeat center 1rem;
  background-size: 10.75rem 2.68rem;
  width:75%;
  font-size: 2rem;
  text-align: center;
}
.container {
  position: relative;
  min-height:16rem;
}
.words {
  padding: 2rem 4.5rem;
}
.result {
  position: absolute;
  top:0;
  display:none;
  opacity:0;
  padding: 2rem 4.5rem;
}
.result em {
  min-width: 20px;
  display: inline-block;
}
.error { 
  color: red; 
}
.ng-submitted .ng-invalid { 
  border: 1px solid red; 
}


/*fade out words, fade in result*/
.animateShow {
  display:block;
  /* The animation SETTINGS */
  /*Safari / Chrome compatibility*/
  -webkit-animation: fadeIn 2s;
  /*Firefox compatibility*/
  -moz-animation: fadeIn 2s;
  /*Internet Explorer compatibility*/
  -ms-animation: fadeIn 2s;
  /*Opera compatibility*/
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}
@-ms-keyframes fadeIn{
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}
@-o-keyframes fadeIn{
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}
@keyframes fadeIn {
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}




.animateHide {
  /* The animation SETTINGS */
  /*Safari / Chrome compatibility*/
  -webkit-animation: fadeOut 2s;
  /*Firefox compatibility*/
  -moz-animation: fadeOut 2s;
  /*Internet Explorer compatibility*/
  -ms-animation: fadeOut 2s;
  /*Opera compatibility*/
  -o-animation: fadeOut 2s;
  animation: fadeOut 2s;
  animation-fill-mode: forwards; /*forwards, backwards, both, none*/
}
@-webkit-keyframes fadeOut {
  0% {
        opacity:1;
  }
  100% {
      opacity:0;
  }
}
@-moz-keyframes fadeOut {
  0% {
        opacity:1;
  }
  100% {
      opacity:0;
  }
}
@-ms-keyframes fadeOut{
  0% {
        opacity:1;
  }
  100% {
      opacity:0;
  }
}
@-o-keyframes fadeOut{
  0% {
        opacity:1;
  }
  100% {
      opacity:0;
  }
}
@keyframes fadeOut {
  0% {
        opacity:1;
  }
  100% {
      opacity:0;
  }
}
